:root{
    --principal:#142850;
    --second:#27496D;
    --third:#00909E;
    --fourth:#DAE1E7;
    --black:#2a2644;
    --white:#fff;
}

.principal{
    min-height: 100vh;
    width:100vw;
    color: var(--fourth);
    background-color: var(--principal);
}
.container-form{
    color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-react{
    border-radius: 25px;
    max-width: 500px;
    width: 100%;
    padding: 70px 20px;
    background-color: var(--white);
}
.table{
    background-color: #FFF;
}

.logo{
    max-width: 100%;
    height: auto;
}