:root{
    --principal:#EEEEEE;
    --second:#686D76;
    --third:#373A40;
    --fourth:#19D3DA;
    --black:#202020;
    --white:rgb(221, 232, 236);
}

.principal{
    min-height: 100vh;
    width:100vw;
    color: var(--fourth);
    background-color: var(--principal);
}
.container-form{
    color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-react{
    border-radius: 25px;
    max-width: 500px;
    width: 100%;
    padding: 70px 20px;
    background-color: var(--white);
}
.table{
    background-color: #FFF;
}

.logo{
    max-width: 100%;
    height: auto;
}